<div class="">

  <div class="erb_header">
    <h3>Bid Detail View</h3>
  </div>

  <table class="table table-bordered table-hover table-striped text-nowrap">
    <tr>
      <th class="w-small">ID</th>
<th class="w-small">Amount</th>
<th class="w-small">User Id</th>
<th class="w-small">Item Id</th>

      <th class="w-med">Updated</th>
    </tr>

    <tr>
      <td><%= @bid.id %></td>
<td><%= @bid.amount %></td>
<td><%= @bid.user_id %></td>
<td><%= @bid.item_id %></td>

      <td><%= @bid.updated_at.strftime('%x')%></td>
    </tr>

  </table>
</div>
